body {
    font-family: 'Gayathri', sans-serif;
    margin: 0%;
    padding: 0%;
}

#container {
    height: 340px;
    background-color: rgb(157, 233, 223);
    padding: 5px;
}

#bottom {
    width: 100%;
    height: max-content;
    font-size: 15px;
    background-color: azure;
    text-align: center;
}

#weather_basic {
    width: 55%;
    float: left;
    font-size: 70px;
    background-color: transparent;
}

#weather_detail {
    width: 45%;
    float: right;
    text-align: right;
    font-size: 30px;
    background-color: transparent;
}

#icon {
    width: 50px;
    height: 50px;
}